<%= form_for(@user) do |f| %>
  <%= render '/layouts/error', {:obj => @user, :title_name => "title.user"} %>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name_kana %><br>
    <%= f.text_field :last_name_kana %>
  </div>
  <div class="field">
    <%= f.label :first_name_kana %><br>
    <%= f.text_field :first_name_kana %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :sub_email %><br>
    <%= f.text_field :sub_email %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
