<h1>Listing users</h1>
<div class="row">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Last name kana</th>
      <th>First name kana</th>
      <th>Email</th>
      <th>Sub email</th>
      <th>Tel</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name_kana %></td>
        <td><%= user.first_name_kana %></td>
        <td><%= user.email %></td>
        <td><%= user.sub_email %></td>
        <td><%= user.tel %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New User', new_user_path %>
