<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name kana:</strong>
  <%= @user.last_name_kana %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @user.first_name_kana %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sub email:</strong>
  <%= @user.sub_email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'TODO', user_todos_path(@user) %> |
<%= link_to 'Back', users_path %>
