<%= form_for([@user, @category]) do |f| %>
  <%= render '/layouts/error', {:obj => @category, :title_name => "title.todo"} %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
